* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Archivo", sans-serif;
}

.container-init {
    background-color: #d7e9ff;
    padding: 40px;
}

.section-initial {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 950px;
    gap: 80px;
}

.info-container {
    display: grid;
    align-content: start;
    gap: 27px;
}

.info-container h3 {
    font-size: 27px;
}

.info-container p {
    font-size: 16px;
    max-width: 40ch;
    line-height: 1.4;
}

.sentence-color {
    color: #417dc7;
}

.logo-doge {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dog-house {
    max-width: 350px;
}

.donation-button {
    background-color: #417dc7;
    border: none;
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 25px;
    place-self: start;
    border-radius: 10px;
    transition: background-color 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.donation-button:hover{
    background-color: #276cc0;
}

.dogs-list img {
    max-width: 400px;
    max-height: 400px;
    background-color: #d7e9ff;
    padding: 20px 13px;
    border-radius: 10px;
}

.js .js-tab-menu-ani li {
    display: none;
}

.js .js-tab-menu-ani li.ativo{
    display: block;
}


@media (max-width: 700px) {
    .section-initial {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }

    .info-container {
        gap: 20px;
        place-items: center;
    }

    .donation-button {
        place-self: center;
    }
}
